{
{{- with secret "identity/oidc/client/test" }}
    "client_id": "{{ .Data.client_id }}",
    "client_secret": "{{ .Data.client_secret }}",
    "redirect_uris": {{ .Data.redirect_uris | toJSON }}
{{- end }}
}