{
{{- with secret "identity/oidc/provider/test/.well-known/openid-configuration" }}
    "authorization_endpoint": "{{ .Data.authorization_endpoint }}",
    "issuer": "{{ .Data.issuer }}",
    "token_endpoint": "{{ .Data.token_endpoint }}",
    "userinfo_endpoint": "{{ .Data.userinfo_endpoint }}"
{{- end }}
}